<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"> 
    <title>详细信息</title>
</head>
<body>
<div style="background: lightblue;min-width: 860px;">
    <table align="center" width="820px" border="2">
        <thead align="center">
        <tr>
            <th align="center" lay-data="{field:'basicInfo',title:'基本信息' } " width="25" height="280" rowspan=6>基本信息</th>
            <th align="center" lay-data="{field:'name',title:'姓名' align:'center'}" width="130">姓名</th>
            <td colspan="2" th:text="${all.name}">张三</td>
            <th align="center" lay-data="{field:'sex',title:'性别'}">性别</th>
            <td colspan="2" th:text="${all.sex}" width="250">男</td>
            <th lay-data="{fixed: 'right', width: 160, align: 'center' fiele:'photo'}"  rowspan="5"
                colspan="2" th:text="暂无">图片
            </th>
        </tr>
        <tr>
        	<th lay-data="{field:'idNumber',title:'身份证号'}">身份证号</th>
            <td colspan="2" th:text="${all.idNumber}">372922196001222329</td>
            <th lay-data=" {field:'nation',title:'民族'}">民族</th>
            <td colspan="2" th:text="${all.nation}">汉</td>
        </tr>
        <tr>
            <th lay-data="{field:'nativePlace',title:'籍贯'}">籍贯</th>
            <td colspan="2" th:text="${all.nativePlace}">山东省泰安市</td>
            <th>出生地*</th>
            <td colspan="2" th:text="${all.birthPlcae}">山东青岛*</td>
        </tr>
        <tr>
        	<th>人员类别*</th>
        	<td colspan="2">退休*</td>
        	<th lay-data="{field:'educationLevel',title:'最高学历'}">最高学历</th>
            <td colspan="2" th:text="${all.educationLevel}">硕士研究生</td>
        </tr>
        <tr>
        	<th align="center" lay-data="{field:'birthday',title:'出生日期' width:70}">出生日期</th>
            <td colspan="2" th:text="${all.birthday==null?'':#dates.format(all.birthday,'yyyy年MM月dd日')}">1965-5-23</td>
            <th>最高学位*</th>
            <td colspan="2" th:text="${all.degree}">硕士*</td>
        </tr>
        <tr>
            <th lay-data="{field:'politicsStatus',title:'政治面貌'}" width="100">政治面貌</th>
            <td th:text="${all.politicsStatus}">中共党员</td>
            <th lay-data="{field:'joinpartyTime',title:'入党时间'}" width="100">入党时间</th>
            <td th:text="${all.joinpartyTime==null?'':#dates.format(all.joinpartyTime,'yyyy年MM月dd日')}">1960-5-5</td>
            <th lay-data="{field:'conversionTime',title:'转正时间'}" width="250">转正时间</th>
            <td  colspan="3" th:text="${all.conversionTime==null?'':#dates.format(all.conversionTime,'yyyy年MM月dd日')}">1978-1-1</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'originalWorkInfo',title:'原先工作信息'}" width="25" height="180" rowspan="3">原先工作信息</th>
            <th lay-data="{field:'identity',title:'身份'}" width="60">身份</th>
            <td width="80" th:text="${all.identity}">干部</td>
           	<th lay-data="{field:'originWorkplace',title:'原工作单位'}">原工作单位</th>
            <td width="100" th:text="${all.originWorkplace}">白马河学院</td>
            <th lay-data="{field:'originDuties',title:'原职务',width:100}">原职务</th>
            <td colspan="3" th:text="${all.originDuties}">院长、教授委员会主任</td>
            
            
        </tr>
        <tr>
        	<th lay-data="{field:'orginDutiesLevel',title:'原职务级别',width:100}">原职务级别</th>
            <td width="100" th:text="${all.orginDutiesLevel}">正处</td>
            <th lay-data="{field:'originProfessional',title:'原职称',width:100}">原职称</th>
            <td width="100" th:text="${all.originProfessional}">教授</td>
            <th lay-data="{field:'originProfessionalLevel',title:'原职称级别',width:100}">原职称级别</th>
            <td  colspan="3" th:text="${all.originProfessionalLevel}">正高</td>
        </tr>
        <tr>
        	<th lay-data="{field:'treatment',title:'享受待遇',width:100}">享受待遇</th>
            <td width="100" th:text="${all.treatment}">正高</td>
            <th lay-data="{field:'timeWork',title:'工作时间',width:100}">工作时间</th>
            <td colspan="3" width="200" th:text="${all.timeWork==null?'':#dates.format(all.timeWork,'yyyy年MM月dd日')}">1987-12-12</td>
            <th lay-data="{field:'timeRetirement',title:'离退休时间',width:100}">离退休时间</th>
            <td colspan="3" width="100" th:text="${all.timeRetirement==null?'':#dates.format(all.timeRetirement,'yyyy年MM月dd日')}">2017-12-12</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'presentWorkInfo',title:'现工作信息'}" width="25" height="200" rowspan="4">现工作信息</th>
            <th lay-data="{field:'partyBranch',title:'党支部名称'}">所在党支部</th>
            <td colspan="2" th:text="${all.partyBranch}">退休第一党支部</td>
            <th colspan="2" lay-data="{field:'administration',title:'行政组'}">所在行政组</th>
            <td colspan="3" th:text="${all.administration}">一组</td>
        </tr>
        <tr>
            <th lay-data="{field:'basicpartyDuties',title:'基层党组织职务'}">基层党组织</th>
            <td colspan="2" th:text="${all.basicpartyDuties}">党支部书记</td>
            <th colspan="2" lay-data="{field:'administrationDuties',title:'行政组职务'}">行政组</th>
            <td colspan="3" th:text="${all.administrationDuties}">组长</td>
        </tr>
        <tr>
            <th lay-data="{field:'committeeDuties',title:'关工委工作职务'}">关工委</th>
            <td colspan="2" th:text="${all.committeeDuties}">办公室主任</td> 
            <th colspan="2" lay-data="{field:'organizationMember',title:'特邀党建组织员'}">特邀党建组织员</th>
            <td colspan="3" th:text="${all.organizationMember}">是</td>
            
        </tr>
        <tr>
        	<th colspan="2" lay-data="{field:'corporationDuties',title:'老年文体社团职务'}">老年文体社团</th>
        	<td colspan="2" th:text="${all.corporationDuties}">老年模特亮彩队队长</td>
            <th colspan="2" lay-data="{field:'steeringMember',title:'督导组成员'}">教学督导组</th>
            <td colspan="2" th:text="${all.steeringMember}">组长</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'contactInfo'}" rowspan="3">联系方式</th>
            <th lay-data="{field:'phoneHome',title:'家庭电话',width:100}">家庭电话</th>
            <td th:text="${all.phoneHome}">0538-8241234</td>
            <th>QQ号*</th>
            <td>1234567890</td>
            <th lay-data="{field:'phoneChildren',title:'子女电话',width:100}" colspan="2">子女电话</th>
            <td colspan="2" th:text="${all.phoneChildren}">0538-8241234</td> 
        </tr>
        <tr>
            <th lay-data="{field:'phoneOwn',title:'手机号码',width:100}">手机号码</th>
            <td th:text="${all.phoneOwn}">17853219633</td>
            <th>微信号*</th>
            <td>12345678901*</td>
            <th>电子邮件*</th>
            <td colspan="3">adau@sdau.edu.cn*</td>
        </tr>
        <tr>
        	<th lay-data="{field:'homeAddress',title:'家庭住址',width:100}">家庭住址</th>
            <td colspan="3" th:text="${all.homeAddress}">山东省泰安市泰山区镇政府家属院</td>
            <th lay-data="{field:'phoneOther',title:'其他联系电话',width:100}" colspan="2">其他联系电话</th>
            <td colspan="5" th:text="${all.phoneOther}">无</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'remark'}" rowspan="2">备注</th>
            <th lay-data="{field:'timeDeath',title:'去世时间',width:100}"  colspan="2">健在情况</th>
            <td colspan="2" th:text="${all.livingCondition}">是</td>
            
            <th lay-data="{field:'statusChildren',title:'子女情况',width:100}" colspan="2">子女情况</th>
            <td colspan="2" th:text="${all.statusChildren}">2个儿子，1个女儿，均不在泰安居住</td>
        </tr>
        <tr>
            <th lay-data="{field:'spouse',title:'配偶',width:100}" colspan="2">配偶情况</th>
            <td colspan="2" th:text="${all.spouse}">李四五，健在</td>
            <th lay-data="{field:'statusOther',title:'其他情况',width:100}" colspan="2" rowspan="3">其他情况</th>
            <td colspan="2" rowspan="3" th:text="${all.statusOther}">长期卧床不起，有保姆</td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>