<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>详细信息</title>
</head>
<body>
<div style="background: lightblue;min-width: 860px;">
    <table align="center" width="850px" border="2">
        <thead align="center">
        <tr>
            <th align="center" lay-data="{field:'basicInfo',title:'基本信息' } " width="25" height=150 rowspan=3>基本信息</th>
            <th align="center" lay-data="{field:'name',title:'姓名' align:'center'}" width="25">姓名</th>
            <td width="100" th:text="${all.name}">张三</td>
            <th align="center" lay-data="{field:'sex',title:'性别' width:70}">性别</th>
            <td th:text="${all.sex}">男</td>
            <th align="center" lay-data="{field:'birthday',title:'出生年月' width:70}">出生年月</th>
            <td th:text="${#dates.format(all.birthday,'yyyy年MM月dd日')}">1960/01/22</td>
            <th lay-data="{fixed: 'right', width: 160, align: 'center' fiele:'photo'}" width="50" rowspan="3"
                colspan="2" th:text="暂无">图片
            </th>
        </tr>
        <tr>
            <th lay-data=" {field:'nation',title:'民族'}">民族</th>
            <td th:text="${all.nation}">汉</td>
            <th lay-data="{field:'idNumber',title:'身份证号'}">身份证号</th>
            <td th:text="${all.idNumber}">372922196001222329</td>
            <th lay-data="{field:'nativePlace',title:'籍贯'}">籍贯</th>
            <td th:text="${all.nativePlace}">山东省泰安市</td>
        </tr>
        <tr>
            <th lay-data="{field:'politicsStatus',title:'政治面貌'}" width="100">政治面貌</th>
            <td width="100" th:text="${all.politicsStatus}">党员</td>
            <th lay-data="{field:'joinpartyTime',title:'入党时间'}" width="100">入党时间</th>
            <td width="100" th:text="${#dates.format(all.joinpartyTime,'yyyy年MM月dd日')}">2000/01/09</td>
            <th lay-data="{field:'conversionTime',title:'转正时间'}" width="100">转正时间</th>
            <td width="100" th:text="${#dates.format(all.conversionTime,'yyyy年MM月dd日')}">2010/01/09</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'originalWorkInfo',title:'原先工作信息'}" width="25" height="180" rowspan="3">原先工作信息</th>
            <th lay-data="{field:'identity',title:'身份'}" width="60">身份(干部/工人)</th>
            <td width="80" th:text="${all.identity}">干部</td>
            <th lay-data="{field:'educationLevel',titel:'文化水平'}">文化水平</th>
            <td width="100" th:text="${all.educationLevel}">大学</td>
            <th lay-data="{field:'originDuties',title:'原职务',width:100}">原职务</th>
            <td width="100" th:text="${all.originDuties}">老师</td>
            <th lay-data="{field:'orginDutiesLevel',title:'原职务级别',width:100}">原职务级别</th>
            <td width="100" th:text="${all.orginDutiesLevel}">讲师</td>
        </tr>
        <tr>
            <th lay-data="{field:'originProfessional',title:'原职称',width:100}">原职称</th>
            <td width="100" th:text="${all.originProfessional}">大学老师</td>
            <th lay-data="{field:'originProfessionalLevel',title:'原职称级别',width:100}">原职称级别</th>
            <td width="100" th:text="${all.originProfessionalLevel}">讲师</td>
            <th lay-data="{field:'treatment',title:'享受待遇',width:100}">享受待遇</th>
            <td width="100" th:text="${all.treatment}">180</td>
            <th lay-data="{field:'originWorkplace',title:'原工作单位'}">原工作单位</th>
            <td width="100" th:text="${all.originWorkplace}">泰山学院</td>
        </tr>
        <tr>
            <th lay-data="{field:'timeWork',title:'参加工作时间',width:100}">参加工作时间</th>
            <td colspan="3" width="200" th:text="${#dates.format(all.timeWork,'yyyy年MM月dd日')}">2010/09/01</td>
            <th lay-data="{field:'timeRetirement',title:'离退休时间',width:100}">离退休时间</th>
            <td colspan="3" width="100" th:text="${#dates.format(all.timeRetirement,'yyyy年MM月dd日')}">2017/10/10</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'presentWorkInfo',title:'现工作信息'}" width="25" height="300" rowspan="5">现工作信息</th>
            <th lay-data="{field:'partyBranch',title:'党支部名称',width:100}">党支部名称</th>
            <td colspan="3" th:text="${all.partyBranch}">机关事业单位</td>
            <th lay-data="{field:'administration',title:'行政组',width:100}">行政组</th>
            <td colspan="3" th:text="${all.administration}">司法</td>
        </tr>
        <tr height="50">
            <th rowspan="2"></th>
            <th lay-data="{field:'basicpartyDuties',title:'基层党组织职务',width:100}">基层党组织职务</th>
            <th lay-data="{field:'administrationDuties',title:'行政组职务',width:100}">行政组职务</th>
            <th lay-data="{field:'committeeDuties',title:'关工委工作职务',width:100}">关工委工作职务</th>
            <th lay-data="{field:'steeringMember',title:'督导组成员',width:100}" colspan="2">督导组成员</th>
            <th lay-data="{field:'organizationMember',title:'特邀党建组织员',width:100}">特邀党建组织员</th>
            <th lay-data="{field:'corporationDuties',title:'老年文体社团职务',width:100}">老年文体社团职务</th>
        </tr>
        <tr>
            <td height="50" th:text="${all.basicpartyDuties}">无</td>
            <td th:text="${all.administrationDuties}">无</td>
            <td th:text="${all.committeeDuties}">办事员</td>
            <td colspan="2" th:text="${all.steeringMember}">小红、小王</td>
            <td th:text="${all.organizationMember}">李华</td>
            <td th:text="${all.corporationDuties}">无</td>
        </tr>
        <tr>
            <th>开始时间</th>
            <th lay-data="{field:'timeBasicparty',title:'基层党组织职务开始时间',width:100}" th:text="${#dates.format(all.timeBasicparty,'yyyy年MM月dd日')}">无</th>
            <th lay-data="{field:'timeAdministration',title:'行政组工作开始时间',width:100}" th:text="${#dates.format(all.timeAdministration,'yyyy年MM月dd日')}">无
            </th>
            <th lay-data="{field:'timeCommittee',title:'关工委工作开始时间',width:100}" th:text="${#dates.format(all.timeCommittee,'yyyy年MM月dd日')}">2014/05/08
            </th>
            <th lay-data="{field:'timeSteering',title:'导组督成员开始时间',width:100}" colspan="2" th:text="${#dates.format(all.timeSteering,'yyyy年MM月dd日')}">
                2015/06/08
            </th>
            <th lay-data="{field:'timeOrganization',title:'特邀党建组织开始时间',width:100}" th:text="${#dates.format(all.timeOrganization,'yyyy年MM月dd日')}">
                2016/12/07
            </th>
            <th lay-data="{field:'timeCorporation',title:'老年文体社团职务开始时间',width:100}" th:text="${#dates.format(all.timeCorporation,'yyyy年MM月dd日')}">
                206/01/09
            </th>
        </tr>
        <tr>
            <th>终止时间</th>
            <th lay-data="{field:'endtimeBasicparty',title:'基层党组织职务终止时间',width:100}" th:text="${#dates.format(all.endtimeBasicparty,'yyyy年MM月dd日')}">无
            </th>
            <th lay-data="{field:'endtimeAdministration',title:'行政组工作终止时间',width:100}"
                th:text="${#dates.format(all.endtimeAdministration,'yyyy年MM月dd日')}">无
            </th>
            <th lay-data="{field:'endtimeCommittee',title:'关工委工作终止时间',width:100}" th:text="${#dates.format(all.endtimeCommittee,'yyyy年MM月dd日')}">
                2014/09/05
            </th>
            <th lay-data="{field:'endtimeSteering',title:'导组督成员终止时间',width:100}" colspan="2"
                th:text="${#dates.format(all.endtimeSteering,'yyyy年MM月dd日')}">2016/08/07
            </th>
            <th lay-data="{field:'endtimeOrganization',title:'特邀党建组织终止时间',width:100}" th:text="${#dates.format(all.endtimeOrganization,'yyyy年MM月dd日')}">
                2016/12/23
            </th>
            <th lay-data="{field:'endtimeCorporation',title:'老年文体社团职务终止时间',width:100}" th:text="${#dates.format(all.endtimeCorporation,'yyyy年MM月dd日')}">
                2016/01/30
            </th>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'contactInfo'}" rowspan="5">联系方式</th>
            <th lay-data="{field:'homeAddress',title:'家庭住址',width:100}" colspan="2">家庭住址</th>
            <td colspan="2" th:text="${all.homeAddress}">山东省泰安市泰山区镇政府家属院</td>
            <th lay-data="{field:'phoneHome',title:'家庭电话',width:100}" colspan="2">家庭电话</th>
            <td colspan="2" th:text="${all.phoneHome}">3022156</td>
        </tr>
        <tr>
            <th lay-data="{field:'phoneOwn',title:'手机号码',width:100}" colspan="2">手机号码</th>
            <td colspan="2" th:text="${all.phoneOwn}">17853219633</td>
            <th lay-data="{field:'phoneChildren',title:'子女电话',width:100}" colspan="2">子女电话</th>
            <td colspan="2" th:text="${all.phoneChildren}">17832114852</td>
        </tr>
        <tr>
            <th lay-data="{field:'phoneOther',title:'其他联系电话',width:100}" colspan="2">其他联系电话</th>
            <td colspan="6" th:text="${all.phoneOther}">无</td>
        </tr>
        </thead>
        <thead align="center">
        <tr>
            <th lay-data="{field:'remark'}" rowspan="3">备注</th>
            <th lay-data="{field:'spouse',title:'配偶',width:100}" colspan="2">配偶</th>
            <td colspan="2" th:text="${all.spouse}">王三</td>
            <th lay-data="{field:'statusChildren',title:'子女情况',width:100}" colspan="2">子女情况</th>
            <td colspan="2" th:text="${all.statusChildren}"></td>
        </tr>
        <tr>
            <th lay-data="{field:'timeDeath',title:'去世时间',width:100}" rowspan="3" colspan="2">去世时间</th>
            <td colspan="2" rowspan="3" th:text="${#dates.format(all.livingCondition,'yyyy年MM月dd日')}"></td>
            <th lay-data="{field:'statusOther',title:'其他情况',width:100}" colspan="2" rowspan="3">其他情况</th>
            <td colspan="2" rowspan="3" th:text="${all.statusOther}"></td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>