<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="css/layui.css">
</head>
<body>
<div class="layui-form">

    <div th:fragment="mainContent" id="modifyPwd"  style="padding-left: 500px;padding-top: 100px;">
        新密码：<div class="layui-inline"><input class="layui-input" id="password" type="password" name="password" placeholder="请输入密码"></div><br>
        <button class="layui-btn" id="submit" type="button" value="提交">提交</button>

    </div>
</div>
</body>
</html>
